<h1>SmartCart</h1>

<p>The current version supports shoppers within the Waterloo, Ontario region.</p>

<p><%= link_to 'Find me the cheapest groceries', lists_path %></p>
<p><%= link_to 'Instructions and Stores', instructions_path %></p>