.main-logo {
    display: flex;
    justify-content: center;
}

.info {
    float: right;
}

.home-text {
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-family: 'Inter';
    width: 350px;
    margin: auto;
}

.waterloo{
    font-size: 16px;
    color: #666666;
    text-align: center;
    font-family: 'Inter';
    width: 350px;
    margin: auto;
}

.grocerylist {
    height: 39px;
    width: 313px;
    border-radius: 4px;
    background-color: #28A745;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Inter';
}