

.subhead {
    font-size: 20px;
    font-weight: 600;
    color: #666666;
    font-family: Poppins;
    text-align: center;
}

.text {
    font-size: 16px;
    color: #666666;
    font-family: 'Inter';
    text-align: center;
    width: 313px;
    justify-content: center;
    margin: auto;
}

.columns {
    columns: 2;
    position: relative;
    margin: auto;
    padding-top: 15px;
    justify-content: center;
    color: #666666;
    font-family: 'Inter';
   

}

.hapshop {
    color: #28A745;
    font-size: 16px;
    font-family: 'Inter';
    text-align: center;

}

.tolist {
    height: 39px;
    width: 313px;
    border-radius: 4px;
    background-color: #28A745;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'Inter';

}
  
.close {
    float: right;
}
  