<h1>SmartCart</h1>
<h2><%= $current_recommendation.store %></h2>
<p> subtotal: <%= $current_recommendation.subtotal %></p>
<p> here is your list: </p>

<% $current_recommendation.rec.each do |key, value| %>
    <%= value %>
<% end %>
