<h1>SmartCart</h1>

<p><%= link_to $hash['1']['store'], "/recommendations/1" %></p>
<p><%= link_to $hash['2']['store'], "/recommendations/2" %></p>
<p><%= link_to $hash['3']['store'], "/recommendations/3" %></p>
