<h1>SmartCart</h1>

<p><%= link_to $stores[0], "/recommendations/1", :query => $hash %></p>
<p><%= link_to $stores[1], "/recommendations/2", :query => $hash %></p>
<p><%= link_to $stores[2], "/recommendations/3", :query => $hash %></p>

<%= $hash %>