<head>
  <link rel="stylesheet" href="instructions.css">
  <link rel="stylesheet" href="application.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

</head>

<div class="subhead">
  <b>How this works:</b>
</div>

<div class = "text">
  <ol>
  <li>Select how many stores you want to visit to purchase the items on your list (only 1 store or up to 2 stores)</li>
  <li>Add items to create your grocery list</li>
  <br>
  For better results, be as descriptive as possible. For example: 2% milk, gluten-free sliced bread, medium cheddar cheese.
  <br>
  <br>
  <li>You’ll view your options for which store(s) to go to based on the price breakdown</li>
  
  </ol>
    We recommend that you use this tool on the same day (or soon before) you plan to go grocery shopping for the freshest recommendations! Data will be updated weekly on Thursdays.
    <br>
    <br>
</div>

<div class="subhead">
  <b>Stores we consider:</b>
</div>

<div class = "text">
  Below are the stores that we currently have pricing data for and will consider in our recommendations!
</div>


<ul class="columns" data-columns="2">
  <li>No Frills</li>
  <li>Walmart</li>
  <li>Zehrs</li>
  <li>Valumart</li>
  <li>Freshco</li>
  <li>Sobeys</li>
  <li>Food Basics</li>
</ul>


<br>
<br>
<br>
<br>
<br>
<br>

<div class="hapshop">
  <b>Happy shopping!</b>
</div>

<br>


  <%= link_to "Build My Grocery List", lists_path, class: "tolist" %>
