<h1>Store List</h1>

<p><b>How this works:</b></p>

<ol>
<li>Select how many stores you’re willing to visit</li>
<li>Enter items into your grocery list (for better results, be descriptive and put item specification AFTER item name e.g. milk 2%)</li>
<li>View your options based on price breakdown</li>
</ol>

<p>Note: We recommend that you use this tool on the same day (or soon before) you plan to go grocery shopping for the freshest recommendations!</p>

<p><b>Happy shopping!</b></p>

<div>
  <%= link_to "Back to lists", lists_path %>
</div>